[tool.poetry]
name = "nicegui-highcharts"
version = "0.1.0"
description = "Add Highcharts elements to your NiceGUI app."
authors = ["Zauberzeug GmbH <info@zauberzeug.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/zauberzeug/nicegui-highcharts"
keywords = ["charts", "highcharts", "gui", "ui", "web"]

[tool.poetry.dependencies]
python = "^3.8"
nicegui = "^1.4.0"

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry-core>=1.0.0"
]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
